body {
    height: 100%;
    width: 100%;
    background: url('/public/img/bg2.jpg') 0px 30px no-repeat #f6f3ea fixed;
}

// #background {
//   position: fixed;
//   height: 100%;
//   float:left;
//   width: 35%;
// }

a, a:hover {text-decoration: none}

#cv-content {
  background: #fff;
  padding-left: 30px;
  padding-right: 20px;
}

#top-info {
  margin: 10px 20px 0 10px;
  text-align: right;
}

#background {
  min-height: 50px;
}

h3 img, h4 img {
  height: 24px;
  vertical-align: center;
  padding-bottom: 3px;
}

.bold {font-weight: bold}

h4.title {
  background: #f4f4f4;
  display: inline-block;
  padding: 8px 20px 8px 40px;
  margin-top: 30px;
  margin-left: -15px;
  color: #555;
  font-size: 18px;
  width: 350px;
}

h4.title img{
  opacity: 0.8;
}

h3 {
  padding-bottom: 0px;
  height:45px;
  padding-left: 0px;
  margin-top: 10px;
  background: #f9f9f9;
  display: inline-block;
  padding: 0 20px 0 20px;
  color: #555;
  text-align: center;
  font-size:18px;
  line-height: 45px;
}

h3.title {
  padding: 0 0 0 10px;
  text-align: left;
  color: #1D5774;
  margin-top:23px;
  background-color:transparent;
}

.content-info {
}

.label.label-primary,  .label.label-info {
  color: #95ACB3;
  background-color: transparent;
  padding: 0;
}

.btn.btn-default {
  border: 0;
  background-color: #eee;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}