body {
    height: 100%;
    width: 100%;
    background: url('/public/img/bg.jpg') fixed #e9e8e6;
}

// #background {
//   position: fixed;
//   height: 100%;
//   float:left;
//   width: 35%;
// }

#cv-content {
  background: #fff;
  padding-left: 30px;
  padding-right: 20px;
}

#top-info {
  position: fixed;
  margin-left: 0px;
  margin-top: 10px;
}

#background {
  min-height: 50px;
}

h3 img, h4 img {
  height: 24px;
  vertical-align: center;
  padding-bottom: 3px;
}

.bold {font-weight: bold}