body {
    height: 100%;
    width: 100%;
    background: url('/public/img/bg2.jpg') 0px 30px no-repeat #f6f3ea fixed;
}

body.t404 {
  background: url('/public/img/scribble_light.png');
}

.georgia {
  font-family: Georgia;
}

h1 {
  @extend .georgia;
  font-size: 48px;
}

tr th {
  @extend .georgia;
  font-size: 14px;
}

// #background {
//   position: fixed;
//   height: 100%;
//   float:left;
//   width: 35%;
// }

a, a:hover {text-decoration: none}

#cv-content {
  background: #fff;
  padding-left: 30px;
  padding-right: 20px;
}

#top-info {
  margin: 10px 20px 0 10px;
  text-align: right;
}

h3 img, h4 img {
  @extend .georgia;
  height: 24px;
  vertical-align: center;
  padding-bottom: 3px;
}

.bold {font-weight: bold}

h4.title {
  @extend .georgia;
  background: #f4f4f4;
  display: inline-block;
  padding: 8px 20px 8px 30px;
  margin-top: 30px;
  margin-left: -15px;
  color: #555;
  font-size: 24px;
  width: 350px;

  img{
    opacity: 0.8;
  }
}

.subtitle {
  @extend .georgia;

  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 0 10px 0;
  background-color: #f5f5f5;

  line-height: 50px;
  font-size:18px;
  color: #555;
}

.contact {
  color:#4FA0D6;
}

h4 b {
  @extend .georgia;
}

h3 {
  display: inline-block;
  height:45px;
  background: #f9f9f9;

  margin-top: 10px;
  padding: 0 20px 0 20px;

  color: #555;
  text-align: center;
  font-size:18px;
  line-height: 45px;

  &.title {
    padding: 10px 0 0 0;
    text-align: left;
    color: #1D5774;
    margin-top:28px;
    line-height: 18px;
    height: 30px;
    background-color:transparent;
  }
}

.define {
  @extend .georgia;
  font-weight: bold;
  text-decoration: underline;
}

.label.label-primary,  .label.label-info {
  color: #61696E;
  background-color: #eee;
  padding: 3px 5px;
  margin-left: 1px;
  margin-right: 3px;
  font-weight: normal;
}

.btn.btn-default {
  border: 0;
  background-color: #eee;
}

#footer {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}