<div class='row'>
  <div class='col-md-12'>
    <div class='row'>
      <h4 class='title'>
        <!-- %img{src: '/public/img/university.png'} -->
        Education
      </h4>
    </div>
    <div class='row' style='margin-top:20px;'>
      <div class='content-info'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-lg-2'>
              <h4>
                <b>Jiaotong</b>
                <br>
                <i style='font-size:12px'>2014 - 2015</i>
              </h4>
            </div>
            <div class='col-lg-10' style='padding-top:11px'>
              Beijing Jiaotong University
              <br>
              Beijing, Beijing Municipality, China
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-2'>
              <h4>
                <b>EPITECH</b>
                <br>
                <i style='font-size:12px'>2011 - 2016</i>
              </h4>
            </div>
            <div class='col-lg-10' style='padding-top:11px'>
              EPITECH, European Institute of Technologies
              <br>
              Lille, France
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-2'>
              <h4>
                <b>High school</b>
                <br>
                <i style='font-size:12px'>2008 - 2011</i>
              </h4>
            </div>
            <div class='col-lg-10' style='padding-top:11px'>
              Baccalaureat (French high school diploma) in Sciences
              <br>
              Yves Kernanec HighSchool, Marcq-en-Baroeul, France
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
