.row
  .col-md-12
    .row
      %h4.title
        / %img{src: '/public/img/university.png'}
        Education
    .row{style: 'margin-top:20px;'}
      .content-info
        .container-fluid
          .row
            .col-lg-2
              %h4
                %b Jiaotong
                %br
                %i{style: 'font-size:12px'} 2014 - 2015
            .col-lg-10{style: 'padding-top:11px'}
              Beijing Jiaotong University
              %br
              Beijing, Beijing Municipality, China
          .row
            .col-lg-2
              %h4
                %b EPITECH
                %br
                %i{style: 'font-size:12px'} 2011 - 2016
            .col-lg-10{style: 'padding-top:11px'}
              EPITECH, European Institute of Technologies
              %br
              Lille, France
          .row
            .col-lg-2
              %h4
                %b High school
                %br
                %i{style: 'font-size:12px'} 2008 - 2011
            .col-lg-10{style: 'padding-top:11px'}
              Baccalaureat (French high school diploma) in Sciences
              %br
              Yves Kernanec HighSchool, Marcq-en-Baroeul, France