%hr{style: 'margin-top:30px'}
.row
  .col-md-12
    .row
      %h4.title
        / %img{src:'/public/img/package.png'}
        Personal Work
.row
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Wombat
          %table.table.table-condensed
            %tr
              %td Go
            %tr
              %td AngularJS
            %tr
              %td PostegreSQL
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px;'}
        %p
          %span.define Resume
          Wombat is a web platform to manage a company and manager groups via its tasks / objectives.
        %p
          %span.define Objective
          Obtain a fluid platform, user friendly, with advanced features like the crea tion Gantt Management Agenda (connection to external APIs), etc ...
          %br Improve the use GO and AngularJS.
        %p
          %span.define Team
          %span.contact
            %a{href: 'http://www.zackdibe.com', target: '_blank'} ZackDibe
    %hr
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Bistromathique
          %table.table.table-condensed
            %tr
              %td Haskell
            %tr
              %td Algorithms
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px;'}
        %p
          %span.define Resume
          The bistromatique is a project that can realize the calculations of expressions with very large numbers are in base B.
        %p
          %span.define Objective
          Realize as a challenge, this project aims to minitie for a functionnal programming Practicing the Haskell. It also allows me to implement some pattern / algorithms, such as the division of Knuth
        %p
          %span.define Challenger
          %span.contact
            %a{href: 'https://plus.google.com/+LucienRZagabe/posts', target: '_blank'} LucienZagabe
    %hr
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Clustering
          %table.table.table-condensed
            %tr
              %td Algorithms
            %tr
              %td Python
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px'}
        %p
          %span.define Resume
          Clustering is a project or a file of points within a Cartesian repere gives us, we must sort these points into K groups based on the distance from x to other points.
        %p
          %span.define Objective
          The objective is to find and implement an algorithm to group the points in cluster K, K being provided. The application must be in a minimum time and with accuracy. Application of K-Means + + (and not initializing centroid by statistics).
          %br
          To go further, I intend to renew this project but with cluster X, X being unknown. (Application of X-means).
    %hr
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Hexatyla
          %table.table.table-condensed
            %tr
              %td C++
            %tr
              %td Mathematiques
            %tr
              %td Algorithms
            %tr
              %td Ogre3D
            %tr
              %td JavaScript
            %tr
              %td Unix
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px'}
        %p
          %span.define Resume
          Hexatyla is a project built in a limited time (2 ½ months). This is a game gest ion / STR 3D (Warcraft3).
          %br
          The Maps are fully scalable either the field or the tech tree.
          %i This project was a very big challenge
        %p
          %span.define Objective
          Each part depends on a map, this map contains the playing field but also the whole tree technology that provides a very high modularity. We have 3 records:
          %ul
            %li Client C + + based on Ogre3D (3D engine).
            %li a server in C + + multi-threaded, to manage several parts (Part little t have up to 6 players)
            %li A map editor and the tech tree JavaScript
          This is an ambitious realize in 2 months and a half project, we have to choose the finality of the maintabilite depends.
        %p
          %span.define Team
          %span.contact
            %a{href: 'https://f619f24d59b8406906701609ee7896931ba5bcd2.googledrive.com/host/0BzAFLA4EFSy6NnNuNkE2R0hYbnM/index.html', target: '_blank'} GautierLefebvre
          ,
          %span.contact
            %a{href: 'http://yannick.briffa.eu/', target: '_blank'} YannickBriffa
          ,
          %span.contact
            %a{href: 'https://www.linkedin.com/in/geoffreybauduin', target: '_blank'} GeoffreyBauduin
          ,
          %span AnthonyDelemer
