.row
  .col-md-12
    .row
      %h4.title
        / %img{src: '/public/img/experiment.png'}
        Work Experience
    .row{style: 'margin-top:20px;'}
      .content-info
        .container-fluid
          .row
            .col-lg-2
              %h4
                %b Libertrip
                %br
                %i{style: 'font-size:12px'} 2014
                %br
                %i{style: 'font-size:12px'}Euratechnologie, Lille, France
            .col-lg-10{style: 'padding-top:11px'}
              "Libertrip is the easiest way to plan your next dream vacation. Build your itinerary, and Share with friends."
              %br
              Tasks: Create an interface between Hotels Managers and Libertrip.
              %div{style: 'margin-top:5px;'}
                %span.label.label-primary RubyOnRails
                %span.label.label-primary Backbone
                %span.label.label-primary PostgreSQL
                %span.label.label-primary MongoDB
          .row
            .col-lg-2
              %h4
                %b Freelance
                %br
                %i{style: 'font-size:12px'} 2012
                %br
                %i{style: 'font-size:12px'}Edinburgh, Scotland, United Kingdom
            .col-lg-10{style: 'padding-top:11px'}
              Web development
              %div{style: 'margin-top:5px;'}
                %span.label.label-primary CodeIgniter
                %span.label.label-primary JQuery
                %span.label.label-primary MySQL
          .row
            .col-lg-2
              %h4
                %b Kitchen Porter
                %br
                %i{style: 'font-size:12px'} 2012
                %br
                %i{style: 'font-size:12px'}Edimburgh, Scotland, United Kingdom
            .col-lg-10{style: 'padding-top:11px'}
              I lived in Edinburgh for 5 months in order to improve my english.
              %br
              I worked as a kitchen porter in  a restaurant throughout august.
              %br
              %span.label.label-primary English