@font-face{font-family:"Sorts Mill Goudy";src:url(./fonts/SortsMillGoudy-Regular.ttf);}
a.social{overflow:hidden;display:inline-block;width:1.8rem;height:1.8rem;margin-right:20px;-webkit-border-radius:0.9rem;-moz-border-radius:0.9rem;border-radius:0.9rem;background-color:#ddd;color:#444;text-align:center;font-size:0.7rem;line-height:1.8rem;transition:background 0.3s, color 0.3s linear;-o-transition:background 0.3s, color 0.3s linear;-ms-transition:background 0.3s, color 0.3s linear;-moz-transition:background 0.3s, color 0.3s linear;-webkit-transition:background 0.3s, color 0.3s linear;}
a.social.download{transition:all 0.25s ease-out;-webkit-transition:all .25s ease-out;-moz-transition:all 0.25s ease-out;}
a.social.download:hover{width:110px;-webkit-border-radius:0rem;-moz-border-radius:0rem;border-radius:0rem;}
a.social.download .download-content{display:none;}
a.social.download:hover .download-content{display:inline-block;}
.experience, .education, .project, .presentation{max-width: 825px;}
a.social.little{width:26px;height:26px;-webkit-border-radius:13px;-moz-border-radius:13px;border-radius:13px;}
a.social i{vertical-align:middle;}
a.social.linkedin:hover{background-color:#125675;}
a.social.linkedin{background-color:#006699;color:white;}
a.social.github:hover{background-color:#171515;}
a.social.github{background-color:#171515;color:white;}
a.social.googleplus:hover{background-color:#c13929;}
a.social.googleplus{background-color:#DD4B39;color:white;}
#social{text-align:right;margin-top:40px;}
ul.knowledges li{font-size:1rem;}
@media only screen and (max-width:64em){#social{text-align:left;margin-top:10px;}}
@media only screen and (max-width:425px){.social.download{display:block;margin-top:20px;}}
@media only screen and (max-width:64em){.overlay-margin-500.margin-left-40{margin-left:0;}
.overlay-margin-500.margin-right-40{margin-right:0;}}
.pos-download{display:inline;}
@media only screen and (min-width: 64em) and (max-width: 1600px){.social.download{display:inline-block;margin-top:20px;}#social{margin-top:5px;margin-bottom:5px;right:0;}.pos-download{text-align:right;display:block;}}
.lang-menu a{color:#aaa;}
.lang-menu a:hover{color:#444;}
.lang-menu a.select{color:#444;border-bottom:1px solid #ddd;}
.book{line-height:1.6rem;font-size:2rem;}
.experience, .education, .project{border-bottom:1px dashed #ddd;padding-bottom:25px;padding-left:5px;}
.education{padding-bottom:15px;}
#footer{padding-top:30px;padding-bottom:30px;color:#888;text-align:center;}
.padding-right-5{padding-right:5px;}
.padding-right-10{padding-right:10px;}
.padding-right-15{padding-right:15px;}
.padding-right-20{padding-right:20px;}
.padding-right-25{padding-right:25px;}
.padding-right-30{padding-right:30px;}
.padding-right-40{padding-right:40px;}
.padding-right-50{padding-right:50px;}
.padding-left-5{padding-left:5px;}
.padding-left-10{padding-left:10px;}
.padding-left-15{padding-left:15px;}
.padding-left-25{padding-left:25px;}
.padding-left-20{padding-left:20px;}
.padding-left-30{padding-left:30px;}
.padding-left-40{padding-left:40px;}
.margin-right-5{margin-right:5px;}
.margin-right-10{margin-right:10px;}
.margin-right-20{margin-right:20px;}
.margin-right-30{margin-right:30px;}
.margin-right-40{margin-right:40px;}
.margin-left-5{margin-left:5px;}
.margin-left-10{margin-left:10px;}
.margin-left-20{margin-left:20px;}
.margin-left-25{margin-left:25px;}
.margin-left-30{margin-left:30px;}
.margin-left-40{margin-left:40px;}
.margin-left-50{margin-left:50px;}
.margin-top-0{margin-top:0px;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-30{margin-top:30px;}
.margin-top-40{margin-top:40px;}
.margin-bottom-0{margin-bottom:0px;}
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-50{margin-bottom:50px;}
.margin-bottom-120{margin-bottom:120px;}
.padding-top-5{padding-top:0px;}
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-30{padding-top:30px;}
.padding-top-40{padding-top:40px;}
.padding-bottom-0{padding-bottom:0px;}
.padding-bottom-5{padding-bottom:5px;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-15{padding-bottom:15px;}
.padding-bottom-20{padding-bottom:20px;}
.padding-bottom-30{padding-bottom:30px;}
.padding-bottom-40{padding-bottom:40px;}
.padding-bottom-50{padding-bottom:50px;}
.margin-5{margin:5px;}
.margin-10{margin:10px;}
.margin-15{margin:15px;}
.margin-20{margin:20px;}
.margin-30{margin:30px;}
.padding-5{padding:5px;}
.padding-10{padding:10px;}
.padding-15{padding:15px;}
.padding-20{padding:20px;}
.padding-30{padding:30px;}
.padding-h-5{padding-left:5px;padding-right:5px;}
.padding-h-10{padding-left:10px;padding-right:10px;}
.padding-h-15{padding-left:15px;padding-right:15px;}
.padding-h-20{padding-left:20px;padding-right:20px;}
.padding-h-30{padding-left:30px;padding-right:30px;}
.padding-h-40{padding-left:40px;padding-right:40px;}
body{background:url("/images/background.jpg") left 50% no-repeat #f6f3ea fixed;}
#main-page{padding:0px;}