!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Use title if it's in the page YAML frontmatter
    %title= @title + ' | Clovis Kyndt'
    = stylesheet_link_tag "foundation", "optimized"
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body{:class => page_classes}
    .row
      .large-8.large-push-4.white-bg.medium-11.medium-push-1.small-12
        .text-right.font-medium.padding-top-10.lang-menu
          - if I18n.locale.to_s == 'fr'
            %a.margin-right-10.select{href:"/"} Français
            %a.margin-right-10{href:"/en"} English
            -# %a.margin-right-10{href:"/cn"} 中文
          - elsif I18n.locale.to_s == 'en'
            %a.margin-right-10{href:"/"} Français
            %a.margin-right-10.select{href:"/en"} English
            -# %a.margin-right-10{href:"/cn"} 中文
          - elsif I18n.locale.to_s == 'cn'
            %a.margin-right-10{href:"/"} Français
            %a.margin-right-10{href:"/en"} English
            %a.margin-right-10.select{href:"/cn"} 中文
        #cv-content.padding-h-40.padding-top-20.margin-bottom-120
          %div.large-8.small-12.columns
            %h1.georgia.margin-top-0
              %div.letter-spacing-0-3 CLOVIS KYNDT
              %div.font-large.grey-8.letter-spacing-0-6 SOFTWARE ENGINEER
          %div.large-4.small-12.columns
            %div#social.margin-top-30.margin-right-10.margin-bottom-30
              %a.social.googleplus{href: 'https://plus.google.com/u/0/+ClovisKyndt/posts', target: '_blank'}
                %i.fa.fa-google-plus.fa-lg
              %a.social.linkedin{href: 'https://www.linkedin.com/profile/view?id=328739321', target: '_blank'}
                %i.fa.fa-linkedin.fa-lg
              %a.social.github{href: 'https://github.com/Manawasp', target: '_blank'}
                %i.fa.fa-github-alt.fa-lg
              %a.social{href: 'https://github.com/Manawasp', target: '_blank'}
                %i.fa.fa-download.fa-lg
        = yield
        #footer.margin-left-40.margin-right-40
          %a.grey-7{href: 'mailto:clovis.kyndt@gmail.com', target: '_blank'} clovis.kyndt@gmail.com
          .font-small Design by Clovis Kyndt
    = javascript_include_tag  "all"
