!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Use title if it's in the page YAML frontmatter
    %title= @title + ' | Clovis Kyndt'
    :css
      .paper-limit{max-width:825px;}
      .cursor{cursor:pointer;}
      .white{color:#fff;}
      .silver{color:#ccc;}
      .grey{color:#999;}
      .dark-grey{color:#666;}
      .font-small{font-size:0.7em;}
      .font-medium{font-size:0.8775rem;}
      .font-normal{font-size:1rem;}
      .font-1-2{font-size:1.2rem;}
      .font-large{font-size:1.3rem;}
      .font-1-4{font-size:1.4rem;}
      .font-1-6{font-size:1.6rem;}
      .font-xlarge{font-size:2rem;}
      .font-xxlarge{font-size:3rem;}
      .text-upper{text-transform:uppercase;}
      .white{color:white;}
      .white-bg{background-color:white;}
      .min-height-full{min-height:100%;}
      .height-full{height:100%;}
      .width-full{width:100%;}
      .grey-4{color:#444;}
      .grey-5{color:#555;}
      .grey-6{color:#666;}
      .grey-8{color:#888;}
      .grey-9{color:#999;}
      .fleft{float:left;}
      .fright{float:right;}
      textarea, input{font-size:0.875rem;}
      body{margin:0;padding:0;height:100%;width:100%;overflow-x:hidden;font-size:1rem;font-family:"Sorts Mill Goudy", "Helvetica";}
      h1{font-family:"Sorts Mill Goudy","Helvetica";}
      h3{text-transform:uppercase;font-size:1.3rem;background-color:#F4F4F4;display:inline-block;padding:5px 20px 5px 40px;max-width:400px;width:100%;color:#555;}
      h3.space{}
      h4{font-size:1.2rem;color:#333;margin-bottom:0;}
      .company{color:#777;font-weight:100;margin-bottom:0;}
      h6{font-size:0.9rem;color:#666;margin-bottom:0;}
      .label{margin-right:6px;font-size:0.8rem;}
      .label.label-primary{background-color:transparent;color:#777;}
      ul{list-style-type:none;}
      ul li.title{border-bottom:1px solid #ddd;font-weight:600;color:#333;}
      .grey-7{color:#777;}
      .grey-a5{color:#a5a5a5;}
      .letter-spacing-0-6 {letter-spacing:0.6rem;}
      .letter-spacing-0-3 {letter-spacing:0.3rem;}
      .font-0-9{font-size:0.9rem;}
      .font-0-95{font-size:0.95rem;}
      .font-0-7{font-size:0.7rem;}
      ul li{border-bottom:1px dashed #ddd;padding-left:10px;padding-right:10px;font-size:1rem;line-height:1.9rem;}
      .line-height-2{line-height:2em;}
      .height-2{line-height:2em;}
      .block{display:block;}
      .inline{display:inline-block;}
      .relative{position:relative;}
      .border{border:1px solid #777;}
      .round-5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
      #main-page{padding:12px;}
  %body{:class => page_classes}
    .row
      #main-page.large-8.large-push-4.white-bg.medium-11.medium-push-1.small-12
        .overlay-margin-500.text-right.font-medium.padding-top-10.lang-menu.margin-right-40.padding-right-30
          .overlay-margin-500.fleft.margin-left-40.padding-left-20
            %a.grey-7{href: 'mailto:clovis.kyndt@gmail.com', target: '_blank'}
              %i.fa.fa-share.fa-1x.margin-right-5
              clovis.kyndt@gmail.com
          - if I18n.locale.to_s == 'fr'
            %a.margin-right-10.select{href:"/fr"} Français
            %a.margin-right-10{href:"/"} English
            -# %a.margin-right-10{href:"/cn"} 中文
          - elsif I18n.locale.to_s == 'en'
            %a.margin-right-10{href:"/fr"} Français
            %a.margin-right-10.select{href:"/"} English
            -# %a.margin-right-10{href:"/cn"} 中文
          - elsif I18n.locale.to_s == 'cn'
            %a.margin-right-10{href:"/fr"} Français
            %a.margin-right-10{href:"/"} English
            %a.margin-right-10.select{href:"/cn"} 中文
        #cv-content.padding-h-40.padding-top-20.margin-bottom-120
          %div.large-8.small-12.columns
            %h1.georgia.margin-top-0
              %div.letter-spacing-0-3 CLOVIS KYNDT
              %div.font-large.grey-8.letter-spacing-0-6 SOFTWARE ENGINEER
          %div.large-4.small-12.columns
            %div#social.margin-top-30.margin-right-10.margin-bottom-30
              %a.social.googleplus{href: 'https://plus.google.com/u/0/+ClovisKyndt/posts', target: '_blank'}
                %i.fa.fa-google-plus.fa-lg
              %a.social.linkedin{href: 'https://www.linkedin.com/profile/view?id=328739321', target: '_blank'}
                %i.fa.fa-linkedin.fa-lg
              %a.social.github{href: 'https://github.com/Manawasp', target: '_blank'}
                %i.fa.fa-github-alt.fa-lg
              %div.pos-download
                %a.social.download{href: '/downloads/clovis-kyndt-cv-en.pdf', target: '_blank'}
                  %i.fa.fa-download.fa-lg
                  .download-content Download
        = yield
        #footer.margin-left-40.margin-right-40
          %a.grey-7{href: 'mailto:clovis.kyndt@gmail.com', target: '_blank'} clovis.kyndt@gmail.com
          .font-small Design by Clovis Kyndt
  %script
    var cb=function(){var e=document.getElementsByTagName("head")[0],t=document.createElement("link");t.rel="stylesheet",t.href="stylesheets/foundation.css",e.parentNode.insertBefore(t,e);var n=document.createElement("link");n.rel="stylesheet",n.href="stylesheets/optimized.css",e.parentNode.insertBefore(n,e);var s=document.createElement("link");s.rel="stylesheet",s.href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css",e.parentNode.insertBefore(s,e)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(cb):window.addEventListener("load",cb);

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62400219-1', 'auto');
    ga('send', 'pageview');
