<div class='row'>
  <div class='col-md-12'>
    <div class='row'>
      <h4 class='title'>
        <img src='/public/img/user.png'>
        Computer Knowledges
      </h4>
    </div>
    <div class='row' style='margin-top:20px;'>
      <div class='col-md-12'>
        <div class='content-info'>
          <table class='table table-condensed'>
            <tr>
              <th style='width:30%'>Languages</th>
              <th style='width:30%'>Web Development</th>
              <th style='width:30%'>DB</th>
            </tr>
            <tr>
              <td>C/C++</td>
              <td>Ruby on Rails</td>
              <td>MySQL</td>
            </tr>
            <tr>
              <td>Go</td>
              <td>PHP - CodeIgnter</td>
              <td>PostgreSQL</td>
            </tr>
            <tr>
              <td>Ruby / Python</td>
              <td>HTML, CSS, JavaScript</td>
              <td>MongoDB</td>
            </tr>
            <tr>
              <td>Shell script</td>
              <td>Pre-pocessing (HAML/SASS/CoffeScript)</td>
              <td></td>
            </tr>
            <tr>
              <td>C#</td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <table class='table table-condensed'>
            <tr>
              <th style='width:30%'>Operating Systems</th>
              <th colspan='2' style='width:30%'>Tools</th>
              <th style='width:30%'>Other</th>
            </tr>
            <tr>
              <td>Unix/Linux</td>
              <td>Git</td>
              <td>Subversion</td>
              <td>Algorithm</td>
            </tr>
            <tr>
              <td>Windows</td>
              <td>Heroku</td>
              <td>Dedicated server</td>
              <td>Design pattern</td>
            </tr>
            <tr>
              <td></td>
              <td>VS2013</td>
              <td>ViM / SublimeText</td>
              <td>Haskell</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
