.row
  .col-md-12
    .row
      %h4.title
        / %img{src: '/public/img/speak.png'}
        Languages
    .row{style: 'margin-top:20px;'}
      .content-info
        %table.table.table-condensed
          %tr
            %th{style: 'width:20%'} French
            %th{style: 'width:40%'} English
            %th Chinese
          %tr
            %td Native language
            %td Intermediate level & Lived 5 months in Edinburgh
            %td Basic