<div class='row'>
  <div class='col-md-12'>
    <div class='row'>
      <h4 class='title'>
        <img src='/public/img/speak.png'>
        Languages
      </h4>
    </div>
    <div class='row' style='margin-top:20px;'>
      <div class='content-info'>
        <table class='table table-condensed'>
          <tr>
            <th>French</th>
            <th>English</th>
            <th>Chinese</th>
          </tr>
          <tr>
            <td>Native language</td>
            <td>Intermediate level & Lived 5 months in Edinburgh</td>
            <td>Basic</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
