%hr{style: 'margin-top:30px'}
.row
  .col-md-12
    .row
      %h4.title
        / %img{src:'/public/img/package.png'}
        Personal Work
.row
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Wombat
          %table.table.table-condensed
            %tr
              %td Go
            %tr
              %td AngularJS
            %tr
              %td PostegreSQL
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px;'}
        %p
          %span.define Resume
          Wombat est un plateforme web permettant de gerer une compagnie et de manager via des groupes ses taches/objectifs.
        %p 
          %span.define Objective
          Obtenir une plateforme fluide, user friendly, avec de fonctionnalites avancees comme la creation de Gantt, la gestion de l'Agenda (connection aux API externe), etc...
          %br Approfondire l'utilisation du Go et d'AngularJS.
        %p
          %span.define Team
          %span.contact
            %a{href: 'http://www.zackdibe.com', target: '_blank'} ZackDibe
    %hr
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Bistromathique
          %table.table.table-condensed
            %tr
              %td Haskell
            %tr
              %td Algorithms
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px;'}
        %p
          %span.define Resume
          La bistromatique est un projet qui permet de realiser le calculs de d'expressions avec de tres grands nombres dans une base B.
        %p
          %span.define Objective
          Realiser sous forme de challenge, ce projet a pour but de minitie a la programmation functionnel en praticant l'Haskell. Il me permet aussi d'implementer des pattern/algorithmes, comme la division de Knuth
        %p
          %span.define Challenger
          %span.contact
            %a{href: 'https://plus.google.com/+LucienRZagabe/posts', target: '_blank'} LucienZagabe
    %hr
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Clustering
          %table.table.table-condensed
            %tr
              %td Algorithms
            %tr
              %td Python
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px'}
        %p
          %span.define Resume
          Le projet Clustering est un projet ou un fichier de points compris dans un repere cartesiens nous est donne, nous devons trier ces points dans K groupes en fonction de la distance par rapport aux autres points.
        %p
          %span.define Objective
          L'objectif est de trouver et d'appliquer un algorithme permettant de regrouper les points dans K cluster, K etant fournie. L'application doit se faire dans un temps minimum et avec justesse. Application de K-means++ (initialisation par barycentre et non par statistiques).
          %br
          Pour aller plus loin, je compte renouvelle ce projet mais avec X cluster, X etant inconnue. (Application de X-means).
    %hr
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:left'}
        .row
          .subtitle
            Hexatyla
          %table.table.table-condensed
            %tr
              %td C++
            %tr
              %td Mathematiques
            %tr
              %td Algorithms
            %tr
              %td Ogre3D
            %tr
              %td JavaScript
            %tr
              %td Unix
            %tr
              %td
      .col-sm-9{style: 'margin-top:25px;margin-bottom:25px'}
        %p
          %span.define Resume
          Hexatyla est un projet construit dans un temps limite (2 mois et demi). C'est un jeu de gestion/STR en 3D (Warcraft3).
          %br
          Les Maps sont entierement modulable que ce soit le terrain ou l'arbre technologique.
          %i Ce projet fut un tres gros challenge
        %p
          %span.define Objective
          Chaque partie depend d'une map, cette map contient le terrain de jeu mais aussi tout l'arbre technologie ce qui permet d'avoir une tres grande modularite. Nous avons donc 3 rendus :
          %ul
            %li un Client en C++ base sur Ogre3d (moteur 3D).
            %li un Serveur en C++ multi threade, permettant de gerer plusieurs parties (Une partie peut avoir jusqu'a 6 joueurs)
            %li un editeur de map et de l'arbre technologique en JavaScript
          C'est un projet ambitieux realiser en 2 mois et demi, nous avons du choisir la finalite au depend de la maintabilite.
        %p
          %span.define Team
          %span.contact
            %a{href: 'https://www.linkedin.com/in/geoffreybauduin', target: '_blank'} GeoffreyBauduin
          ,
          %span.contact
            %a{href: 'http://yannick.briffa.eu/', target: '_blank'} YannickBriffa
          ,
          %span.contact
            %a{href: 'https://f619f24d59b8406906701609ee7896931ba5bcd2.googledrive.com/host/0BzAFLA4EFSy6NnNuNkE2R0hYbnM/index.html', target: '_blank'} GautierLefebvre
          ,
          %span AnthonyDelemer
