%hr{style: 'margin-top:30px'}
%h3
  %img{src:'/public/img/package.png'}
  Projects
.row
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:right'}
        .row
          %h4.title
            Wt
          %table.table.table-condensed
            %tr
              %td Go
            %tr
              %td AngularJS
            %tr
              %td PostegreSQL
            %tr
              %td
      .col-sm-9
        %h3.title Wombat
        %p 
          Plateforme web permettant de gerer une compagnie et de manager via des groupes ses taches/objectifs.
        %p 
          Objectif
          obtenir une plateforme fluide, user friendly, avec de fonctionnalites avancees comme la creation de Gantt, la gestion de l'Agenda (connection aux API externe), etc...
          %br Approfondire l'utilisation du Go et d'AngularJS.
        %p
          Collaborators : ZackDibe
  .col-md-9
    .row
      .col-sm-2{style: 'text-align:right'}
        .row
          %h4.title
            Bh
          %table.table.table-condensed
            %tr
              %td Haskell
            %tr
              %td Algorithms
            %tr
              %td
      .col-sm-9
        %h3.title Bistromathique
        %p
          Presentation : La bistromatique est un projet qui permet de realiser le calculs de d'expressions avec de tres grands nombres dans une base B.
        %p
          Objectif : Realiser sous forme de challenge, ce projet a pour but de minitie a la programmation functionnel en praticant l'Haskell. Il me permet aussi d'implementer des pattern/algorithmes, comme la division de Knuth
        %p
          Challenger : LucienZagabe

  .col-md-9
    .row
      .col-sm-2{style: 'text-align:right'}
        .row
          %h4.title
            Cl
          %table.table.table-condensed
            %tr
              %td Algorithms
            %tr
              %td Python
            %tr
              %td
      .col-sm-9
        %h3.title Clustering
        %p
          Presentation : Le projet Clustering est un projet ou un fichier de points compris dans un repere cartesiens nous est donne, nous devons trier ces points dans K groupes en fonction de la distance par rapport aux autres points.
        %p
          Object : L'objectif est de trouver et d'appliquer un algorithme permettant de regrouper les points dans K cluster, K etant fournie. L'application doit se faire dans un temps minimum et avec justesse. Application de K-means++ (initialisation par barycentre et non par statistiques).
          %br
          Pour aller plus loin, je compte renouvelle ce projet mais avec X cluster, X etant inconnue. (Application de X-means).


  .col-md-9
    .row
      .col-sm-2{style: 'text-align:right'}
        .row
          %h4.title
            Hx
          %table.table.table-condensed
            %tr
              %td C++
            %tr
              %td Mathematiques
            %tr
              %td Algorithms
            %tr
              %td Ogre3D
            %tr
              %td JavaScript
            %tr
              %td Unix
            %tr
              %td
      .col-sm-9
        %h3.title Hexatyla
        %p
          Presentation : Hexatyla est un projet construit dans un temps limite (2 mois et demi). C'est un jeu de gestion/STR en 3D (Warcraft3).
          %br
          Les Maps sont entierement modulable que ce soit le terrain ou l'arbre technologique.
          %i Ce projet fut un tres gros challenge
        %p
          Objectif : Chaque partie depend d'une map, cette map contient le terrain de jeu mais aussi tout l'arbre technologie ce qui permet d'avoir une tres grande modularite. Nous avons donc 3 rendus :
          %ul
            %li un Client en C++ base sur Ogre3d (moteur 3D).
            %li un Serveur en C++ multi threade, permettant de gerer plusieurs parties (Une partie peut avoir jusqu'a 6 joueurs)
            %li un editeur de map et de l'arbre technologique en JavaScript
          C'est un projet ambitieux realiser en 2 mois et demi, nous avons du choisir la finalite au depend de la maintabilite.
        %p
          Collaborators : GeoffreyBauduin, YannickBriffa, AnthonyDelemer, GautierLefebvre