<h3>
  <img src='/public/img/reading.png'>
  Reading
</h3>
<div class='content-info'>
  <table class='table table-condensed'>
    <tr>
      <th>Technical</th>
      <th>Other</th>
    </tr>
    <tr>
      <td>
        <ul>
          <li>
            Machine Learning: The Art and Science of Algorithms that Make Sense of Data
            <span class='label label-info label-xs'>on going</span>
          </li>
          <li>Essential Algorithms: A Practical Approach to Computer Algorithms</li>
          <li>Seven Databases in Seven Weeks: A Guide to Modern Databases and the NoSQL Movement</li>
          <li>MongoDB Applied Design Patterns</li>
        </ul>
      </td>
      <td>
        <lu>
          <li>The Art of War (Sun Tzu)</li>
          <li>Books or Films (Specialy S.King)</li>
          <li>Mangas</li>
        </lu>
      </td>
    </tr>
  </table>
</div>
