.row
  .col-md-12
    .row
      %h4.title
        %img{src: '/public/img/reading.png'} 
        Reading
    .row{style: 'margin-top:20px;'}
      .content-info
        %table.table.table-condensed
          %tr
            %th Technical
            %th Other
          %tr
            %td
              %ul
                %li
                  Machine Learning: The Art and Science of Algorithms that Make Sense of Data
                  %span.label.label-info.label-xs on going
                %li Essential Algorithms: A Practical Approach to Computer Algorithms
                %li Seven Databases in Seven Weeks: A Guide to Modern Databases and the NoSQL Movement
                %li MongoDB Applied Design Patterns
            %td
              %lu
                %li The Art of War (Sun Tzu)
                %li Books or Films (Specialy S.King)
                %li Mangas