.row
  .col-md-12
    .row
      %h4.title
        %img{src: '/public/img/sport.png'} 
        Sport
    .row{style: 'margin-top:20px;'}
      .content-info
        I often jog and I swim regularly
        %br