<div class='row'>
  <div class='col-md-12'>
    <div class='row'>
      <h4 class='title'>
        <!-- %img{src: '/public/img/experiment.png'} -->
        Work Experience
      </h4>
    </div>
    <div class='row' style='margin-top:20px;'>
      <div class='content-info'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-lg-2'>
              <h4>
                <b>Libertrip</b>
                <br>
                <i style='font-size:12px'>2014</i>
                <br>
                <i style='font-size:12px'>Euratechnologie, Lille, France</i>
              </h4>
            </div>
            <div class='col-lg-10' style='padding-top:11px'>
              "Libertrip is the easiest way to plan your next dream vacation. Build your itinerary, and Share with friends."
              <br>
              Tasks: Create an interface between Hotels Managers and Libertrip.
              <br>
              <span class='label label-primary'>RubyOnRails</span>
              ,
              <span class='label label-primary'>Backbone</span>
              ,
              <span class='label label-primary'>PostgreSQL</span>
              ,
              <span class='label label-primary'>MongoDB</span>
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-2'>
              <h4>
                <b>Freelance</b>
                <br>
                <i style='font-size:12px'>2012</i>
                <br>
                <i style='font-size:12px'>Edinburgh, Scotland, United Kingdom</i>
              </h4>
            </div>
            <div class='col-lg-10' style='padding-top:11px'>
              Web development
              <br>
              <span class='label label-primary'>CodeIgniter</span>
              ,
              <span class='label label-primary'>JQuery</span>
              ,
              <span class='label label-primary'>MySQL</span>
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-2'>
              <h4>
                <b>Kitchen Porter</b>
                <br>
                <i style='font-size:12px'>2012</i>
                <br>
                <i style='font-size:12px'>Edimburgh, Scotland, United Kingdom</i>
              </h4>
            </div>
            <div class='col-lg-10' style='padding-top:11px'>
              I lived in Edinburgh for 5 months in order to improve my english.
              <br>
              I worked as a kitchen porter in  a restaurant throughout august.
              <br>
              <span class='label label-primary'>english</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
