!!!
%html{lang: "en"}
  %head
    %title Clovis Kyndt | 404
    %link{href: "/public/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/public/img/favicon.png", rel: "shortcut icon", type: "image/png"}/
    %link{href: "/public/css/custom.css", rel: "stylesheet", type: "text/css"}/
  %body.t404
    {{if eq .RunMode "dev"}}
    {{template "errors/404-dev.html" .}}
    {{else}}
    {{with .Error}}
    .container
      .row{style: 'margin-top:90px'}
        .col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2{style: 'text-align:center'}
          .bs-callout.bs-callout-info
            %h1{style: 'font-size:96px'} 404
            %br
            %p
              %span.define{style: 'font-size:18px;'} Clovis Kyndt
              \: Sorry the page you requested may have been moved or deleted. 
            %p
              %span.define{style: 'font-size:18px;'} Bot
              \: You can go to the
              %a{href: '/'} homepage
              \.
            %p
              %span.define{style: 'font-size:18px;'} Bot
              \: Or you can see & download the 
              %a{href: '/public/files/ClovisKyndt-CV-EN.pdf', target: '_blank'} resume
            %p.georgia
              %br
              %span{style: 'font-weight:bold'} END
    {{end}}
    {{end}}
