{{set . "title" "Home"}}
{{template "header.html" .}}
.container-fluide

  #background.col-lg-4.col-md-3.col-sm-12.col-xs-12
    #top-info
      %button.btn.btn-warning.btn-sm Download PDF
  #cv-content.col-lg-8.col-md-9.col-sm-12.col-xs-12
    %h1 Clovis Kyndt
    {{template "partials/knowledges.html" .}}
    {{template "partials/education.html" .}}
    {{template "partials/workexperience.html" .}}
    {{template "partials/languages.html" .}}
    {{template "partials/sports.html" .}}
    {{template "partials/reading.html" .}}
    {{template "partials/projects.html" .}}


  
/ {{template "flash.html" .}}