{{set . "title" "Home"}}
{{template "header.html" .}}
<div class='container-fluide'>
  <div class='col-lg-4 col-md-3 col-sm-12 col-xs-12' id='background'>
    <div id='top-info'>
      <button class='btn btn-warning btn-sm'>Download PDF</button>
    </div>
  </div>
  <div class='col-lg-8 col-md-9 col-sm-12 col-xs-12' id='cv-content'>
    <h1>Clovis Kyndt</h1>
    <h3>
      <img src='/public/img/user.png'>
      Knowledges
    </h3>
    <div class='content-info'>
      <table class='table table-condensed'>
        <tr>
          <th style='width:30%'>Languages</th>
          <th style='width:30%'>Web Development</th>
          <th style='width:30%'>DB</th>
        </tr>
        <tr>
          <td>C/C++</td>
          <td>Ruby on Rails</td>
          <td>MySQL</td>
        </tr>
        <tr>
          <td>Go</td>
          <td>PHP - CodeIgnter</td>
          <td>PostgreSQL</td>
        </tr>
        <tr>
          <td>Ruby / Python</td>
          <td>HTML, CSS, JavaScript</td>
          <td>MongoDB</td>
        </tr>
        <tr>
          <td>Shell script</td>
          <td>Pre-pocessing (HAML/SASS/CoffeScript)</td>
          <td></td>
        </tr>
        <tr>
          <td>C#</td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <table class='table table-condensed'>
        <tr>
          <th style='width:30%'>Operating Systems</th>
          <th colspan='2' style='width:30%'>Tools</th>
          <th style='width:30%'>Other</th>
        </tr>
        <tr>
          <td>Unix/Linux</td>
          <td>Git</td>
          <td>Subversion</td>
          <td>Algorithm</td>
        </tr>
        <tr>
          <td>Windows</td>
          <td>Heroku</td>
          <td>Dedicated server</td>
          <td>Design pattern</td>
        </tr>
        <tr>
          <td></td>
          <td>VS2013</td>
          <td>ViM / SublimeText</td>
          <td>Haskell</td>
        </tr>
      </table>
    </div>
    <h3>
      <img src='/public/img/university.png'>
      Education
    </h3>
    <div class='content-info'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-lg-2'>
            <h4>
              <b>Jiaotong</b>
              <br>
              <i style='font-size:12px'>2014 - 2015</i>
            </h4>
          </div>
          <div class='col-lg-10' style='padding-top:11px'>
            Beijing Jiaotong University
            <br>
            Beijing, Beijing Municipality, China
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-2'>
            <h4>
              <b>EPITECH</b>
              <br>
              <i style='font-size:12px'>2011 - 2016</i>
            </h4>
          </div>
          <div class='col-lg-10' style='padding-top:11px'>
            EPITECH, European Institute of Technologies
            <br>
            Lille, France
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-2'>
            <h4>
              <b>High school</b>
              <br>
              <i style='font-size:12px'>2008 - 2011</i>
            </h4>
          </div>
          <div class='col-lg-10' style='padding-top:11px'>
            Baccalaureat (French high school diploma) in Sciences
            <br>
            Yves Kernanec HighSchool, Marcq-en-Baroeul, France
          </div>
        </div>
      </div>
    </div>
    <h3>
      <img src='/public/img/experiment.png'>
      Work Experience
    </h3>
    <div class='content-info'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-lg-2'>
            <h4>
              <b>Libertrip</b>
              <br>
              <i style='font-size:12px'>2014</i>
              <br>
              <i style='font-size:12px'>Euratechnologie, Lille, France</i>
            </h4>
          </div>
          <div class='col-lg-10' style='padding-top:11px'>
            "Libertrip is the easiest way to plan your next dream vacation. Build your itinerary, and Share with friends."
            <br>
            Tasks: Create an interface between Hotels Managers and Libertrip.
            <br>
            <span class='label label-primary'>RubyOnRails</span>
            ,
            <span class='label label-primary'>Backbone</span>
            ,
            <span class='label label-primary'>PostgreSQL</span>
            ,
            <span class='label label-primary'>MongoDB</span>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-2'>
            <h4>
              <b>Freelance</b>
              <br>
              <i style='font-size:12px'>2012</i>
              <br>
              <i style='font-size:12px'>Edinburgh, Scotland, United Kingdom</i>
            </h4>
          </div>
          <div class='col-lg-10' style='padding-top:11px'>
            Web development
            <br>
            <span class='label label-primary'>CodeIgniter</span>
            ,
            <span class='label label-primary'>JQuery</span>
            ,
            <span class='label label-primary'>MySQL</span>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-2'>
            <h4>
              <b>Kitchen Porter</b>
              <br>
              <i style='font-size:12px'>2012</i>
              <br>
              <i style='font-size:12px'>Edimburgh, Scotland, United Kingdom</i>
            </h4>
          </div>
          <div class='col-lg-10' style='padding-top:11px'>
            I lived in Edinburgh for 5 months in order to improve my english.
            <br>
            I worked as a kitchen porter in  a restaurant throughout august.
            <br>
            <span class='label label-primary'>english</span>
          </div>
        </div>
      </div>
    </div>
    <h3>
      <img src='/public/img/speak.png'>
      Languages
    </h3>
    <div class='content-info'>
      <table class='table table-condensed'>
        <tr>
          <th>French</th>
          <th>English</th>
          <th>Chinese</th>
        </tr>
        <tr>
          <td>Native language</td>
          <td>Intermediate level & Lived 5 months in Edinburgh</td>
          <td>Basic</td>
        </tr>
      </table>
    </div>
    <h3>
      <img src='/public/img/sport.png'>
      Sport
    </h3>
    <div class='content-info'>
      I often jog and I swim regularly
      <br>
    </div>
    <h3>
      <img src='/public/img/reading.png'>
      Reading
    </h3>
    <div class='content-info'>
      <table class='table table-condensed'>
        <tr>
          <th>Technical</th>
          <th>Other</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>
                Machine Learning: The Art and Science of Algorithms that Make Sense of Data
                <span class='label label-info label-xs'>on going</span>
              </li>
              <li>Essential Algorithms: A Practical Approach to Computer Algorithms</li>
              <li>Seven Databases in Seven Weeks: A Guide to Modern Databases and the NoSQL Movement</li>
              <li>MongoDB Applied Design Patterns</li>
            </ul>
          </td>
          <td>
            <lu>
              <li>The Art of War (Sun Tzu)</li>
              <li>Books or Films (Specialy S.King)</li>
              <li>Mangas</li>
            </lu>
          </td>
        </tr>
      </table>
    </div>
    <h3>
      <img src='/public/img/package.png'>
      Projects
    </h3>
    <div class='row'>
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-sm-2' style='text-align:right'>
            <div class='row'>
              <h4 class='title'>
                Wt
              </h4>
              <table class='table table-condensed'>
                <tr>
                  <td>Go</td>
                </tr>
                <tr>
                  <td>AngularJS</td>
                </tr>
                <tr>
                  <td>PostreSQL</td>
                </tr>
                <tr>
                  <td>MongoDB</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class='col-sm-9'>
            <h3 class='title'>Wombat</h3>
            <p>
              Plateforme web permettant de gerer une compagnie et de manager via des groupes ses taches/objectifs.
            </p>
            <p>
              Objectif
              obtenir une plateforme fluide, user friendly, avec de fonctionnalites avancees comme la creation de Gantt, la gestion de l'Agenda (connection aux API externe), etc...
              <br>Approfondire l'utilisation du Go et d'AngularJS.</br>
            </p>
            <p>
              Collaborators : ZackDibe
            </p>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-sm-2' style='text-align:right'>
            <div class='row'>
              <h4 class='title'>
                Bh
              </h4>
              <table class='table table-condensed'>
                <tr>
                  <td>Haskell</td>
                </tr>
                <tr>
                  <td>Algorithms</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class='col-sm-9'>
            <h3 class='title'>Bistromathique</h3>
            <p>
              Presentation : La bistromatique est un projet qui permet de realiser le calculs de d'expressions avec de tres grands nombres dans une base B.
            </p>
            <p>
              Objectif : Realiser sous forme de challenge, ce projet a pour but de minitie a la programmation functionnel en praticant l'Haskell. Il me permet aussi d'implementer des pattern/algorithmes, comme la division de Knuth
            </p>
            <p>
              Challenger : LucienZagabe
            </p>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-sm-2' style='text-align:right'>
            <div class='row'>
              <h4 class='title'>
                Cl
              </h4>
              <table class='table table-condensed'>
                <tr>
                  <td>Algorithms</td>
                </tr>
                <tr>
                  <td>Python</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class='col-sm-9'>
            <h3 class='title'>Clustering</h3>
            <p>
              Presentation : Le projet Clustering est un projet ou un fichier de points compris dans un repere cartesiens nous est donne, nous devons trier ces points dans K groupes en fonction de la distance par rapport aux autres points.
            </p>
            <p>
              Object : L'objectif est de trouver et d'appliquer un algorithme permettant de regrouper les points dans K cluster, K etant fournie. L'application doit se faire dans un temps minimum et avec justesse. Application de K-means++ (initialisation par barycentre et non par statistiques).
              <br>
              Pour aller plus loin, je compte renouvelle ce projet mais avec X cluster, X etant inconnue. (Application de X-means).
            </p>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-sm-2' style='text-align:right'>
            <div class='row'>
              <h4 class='title'>
                Hx
              </h4>
              <table class='table table-condensed'>
                <tr>
                  <td>C++</td>
                </tr>
                <tr>
                  <td>Mathematiques</td>
                </tr>
                <tr>
                  <td>Algorithms</td>
                </tr>
                <tr>
                  <td>Ogre3D</td>
                </tr>
                <tr>
                  <td>JavaScript</td>
                </tr>
                <tr>
                  <td>Unix</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class='col-sm-9'>
            <h3 class='title'>Hexatyla</h3>
            <p>
              Presentation : Hexatyla est un projet construit dans un temps limite (2 mois et demi). C'est un jeu de gestion/STR en 3D (Warcraft3).
              <br>
              Les Maps sont entierement modulable que ce soit le terrain ou l'arbre technologique.
              <i>Ce projet fut un tres gros challenge</i>
            </p>
            <p>
              Objectif : Chaque partie depend d'une map, cette map contient le terrain de jeu mais aussi tout l'arbre technologie ce qui permet d'avoir une tres grande modularite. Nous avons donc 3 rendus :
              <ul>
                <li>un Client en C++ base sur Ogre3d (moteur 3D).</li>
                <li>un Serveur en C++ multi threade, permettant de gerer plusieurs parties (Une partie peut avoir jusqu'a 6 joueurs)</li>
                <li>un editeur de map et de l'arbre technologique en JavaScript</li>
              </ul>
              C'est un projet ambitieux realiser en 2 mois et demi, nous avons du choisir la finalite au depend de la maintabilite.
            </p>
            <p>
              Collaborators : GeoffreyBauduin, YannickBriffa, AnthonyDeleme, GautierLefebvre
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- {{template "flash.html" .}} -->
