{{set . "title" "Clovis Kyndt | IT Student, Computer Science"}}
{{template "header.html" .}}
.container-fluide

  #background.col-lg-4.col-md-3.col-sm-12.col-xs-12
  #cv-content.col-lg-8.col-md-9.col-sm-12.col-xs-12
    %div{style: 'margin-top:10px;float:right'}
      %div
        %a{href: 'https://plus.google.com/u/0/+ClovisKyndt/posts', target: '_blank'}
          %img{src: 'public/img/googleplus.png', style: 'width: 26px'}
      %div{style: 'margin-top:6px;'}
        %a{href: 'https://www.linkedin.com/profile/view?id=328739321', target: '_blank'}
          %img{src: 'public/img/linkedin.png', style: 'width: 26px'}
      %div{style: 'margin-top:6px;'}
        %a{href: 'https://github.com/Manawasp', target: '_blank'}
          %img{src: 'public/img/github.png', style: 'width: 26px'}
    %div{style: 'float:right;margin:10px 30px 0 0;'}
      %div
        %img{src: '/public/img/mail.png', style: 'width:12px'}
        %a{href: 'mailto:clovis.kyndt@gmail.com', target: '_blank'} clovis.kyndt@gmail.com
      %div
        %img{src: '/public/img/phone.png', style: 'width:12px'}
        (+33 6 57 40 37 87)
      %div{style: 'text-align:center'}
        %a{href: 'public/files/ClovisKyndt-CV-EN.pdf', target: '_blank'}
          %button.btn.btn-sm.btn-default{style: 'margin-top:20px'}
            %img{src: '/public/img/pdf.png', style: 'width:12px'}
            Download as .pdf
    %h1
      Clovis Kyndt
      %div{style: 'font-size:18px;letter-spacing:2px;color:#888'} SOFTWARE ENGINEER

    %hr{style: 'margin-top:40px'}
    
    {{template "partials/knowledges.html" .}}
    {{template "partials/education.html" .}}
    {{template "partials/workexperience.html" .}}
    {{template "partials/languages.html" .}}
    {{template "partials/sport.html" .}}
    {{template "partials/reading.html" .}}
    {{template "partials/projects.html" .}}


  
/ {{template "flash.html" .}}