{{set . "title" "Home"}}
{{template "header.html" .}}
.container-fluide

  #background.col-lg-4.col-md-3.col-sm-12.col-xs-12
    #top-info
      %button.btn.btn-warning.btn-sm Download PDF
  #cv-content.col-lg-8.col-md-9.col-sm-12.col-xs-12
    %h1 Clovis Kyndt

    %h3
      %img{src: '/public/img/user.png'}
      Knowledges
    %table.table.table-condensed
      %tr
        %th{style: 'width:30%'} Languages
        %th{style: 'width:30%'} Web Development
        %th{style: 'width:30%'} DB
      %tr
        %td C/C++
        %td Ruby on Rails
        %td MySQL
      %tr
        %td Go
        %td PHP - CodeIgnter
        %td PostgreSQL
      %tr
        %td Ruby / Python
        %td HTML, CSS, JavaScript
        %td MongoDB
      %tr
        %td Shell script
        %td Pre-pocessing (HAML/SASS/CoffeScript)
        %td
      %tr
        %td C#
        %td
        %td

    %table.table.table-condensed
      %tr
        %th{style: 'width:30%'} Operating Systems
        %th{colspan: 2, style: 'width:30%'} Tools
        %th{style: 'width:30%'} Other
      %tr
        %td Unix/Linux
        %td Git
        %td Subversion
        %td Algorithm
      %tr
        %td Windows
        %td Heroku
        %td Dedicated server
        %td Design pattern
      %tr
        %td
        %td VS2013
        %td ViM / SublimeText
        %td Haskell
    %h3
      %img{src: '/public/img/university.png'}
      Education
    .container-fluid
      .row
        .col-lg-2
          %h4
            %b Jiaotong
            %br
            %i{style: 'font-size:12px'} 2014 - 2015
        .col-lg-10{style: 'padding-top:11px'}
          Beijing Jiaotong University
          %br
          Beijing, Beijing Municipality, China
      .row
        .col-lg-2
          %h4
            %b EPITECH
            %br
            %i{style: 'font-size:12px'} 2011 - 2016
        .col-lg-10{style: 'padding-top:11px'}
          EPITECH, European Institute of Technologies
          %br
          Lille, France
      .row
        .col-lg-2
          %h4
            %b High school
            %br
            %i{style: 'font-size:12px'} 2008 - 2011
        .col-lg-10{style: 'padding-top:11px'}
          Baccalaureat (French high school diploma) in Sciences
          %br
          Yves Kernanec HighSchool, Marcq-en-Baroeul, France

    %h3
      %img{src: '/public/img/experiment.png'}
      Work Experience
    .container-fluid
      .row
        .col-lg-2
          %h4
            %b Libertrip
            %br
            %i{style: 'font-size:12px'} 2014
            %br
            %i{style: 'font-size:12px'}Euratechnologie, Lille, France
        .col-lg-10{style: 'padding-top:11px'}
          "Libertrip is the easiest way to plan your next dream vacation. Build your itinerary, and Share with friends."
          %br
          Tasks: Create an interface between Hotels Managers and Libertrip.
          %br
          \#RubyOnRails #Backbone #PostgreSQL #MongoDB
      .row
        .col-lg-2
          %h4
            %b Freelance
            %br
            %i{style: 'font-size:12px'} 2012
            %br
            %i{style: 'font-size:12px'}Edinburgh, Scotland, United Kingdom
        .col-lg-10{style: 'padding-top:11px'}
          Web development
          %br
          \#CodeIgniter #JQuery #MySQL
      .row
        .col-lg-2
          %h4
            %b Kitchen Porter
            %br
            %i{style: 'font-size:12px'} 2012
            %br
            %i{style: 'font-size:12px'}Edimburgh, Scotland, United Kingdom
        .col-lg-10{style: 'padding-top:11px'}
          I lived in Edinburgh for 5 months in order to improve my english. I worked as a kitchen porter in  a restaurant throughout august.
          %br
          \#english

    %h3
      %img{src: '/public/img/speak.png'}
      Languages
    %table.table.table-condensed
      %tr
        %th French
        %th English
        %th Chinese
      %tr
        %td Native language
        %td Intermediate level & Lived 5 months in Edinburgh
        %td Basic
        
    %h4
      %img{src: '/public/img/sport.png'} 
      Sport
      I often jog and I swim regularly
    %br
    %h4
      %img{src: '/public/img/reading.png'} 
      Reading
    %table.table.table-condensed
      %tr
        %th Technical
        %th Other
      %tr
        %td
          %ul
            %li
              Machine Learning: The Art and Science of Algorithms that Make Sense of Data
              %span.label.label-info.label-xs on going
            %li Essential Algorithms: A Practical Approach to Computer Algorithms
            %li Seven Databases in Seven Weeks: A Guide to Modern Databases and the NoSQL Movement
            %li MongoDB Applied Design Patterns
        %td
          %lu
            %li The Art of War (Sun Tzu)
            %li Books or Films (Specialy S.King)
            %li Mangas
    %h4
      %img{src: '/public/img/fly.png'}
        Trip
/ .container
/    .row
/     .span6
/ {{template "flash.html" .}}
/ {{template "footer.html" .}}
