{{set . "title" "Clovis Kyndt | IT student, computer science"}}
{{template "header.html" .}}
<div class='container-fluide'>
  <div class='col-lg-4 col-md-3 col-sm-12 col-xs-12' id='background'>
    <div id='top-info'>
      <button class='btn btn-warning btn-sm'>Download PDF</button>
    </div>
  </div>
  <div class='col-lg-8 col-md-9 col-sm-12 col-xs-12' id='cv-content'>
    <h1>Clovis Kyndt</h1>
    {{template "partials/knowledges.html" .}}
    {{template "partials/education.html" .}}
    {{template "partials/workexperience.html" .}}
    {{template "partials/languages.html" .}}
    {{template "partials/sports.html" .}}
    {{template "partials/reading.html" .}}
    {{template "partials/projects.html" .}}
  </div>
</div>
<!-- {{template "flash.html" .}} -->
