.small-12
  %h3.title.margin-top-30
    .space
      = I18n.t(:titleInterests) 
.padding-h-30.padding-top-30.padding-bottom-30
  .font-medium
    %ul
      - I18n.t('interests').each do |categorie|
        - categorie[:names].each do |name|
          %li.font-0-95
            %i.fa.margin-right-10.grey-5{class: "fa-#{categorie[:meta]}"}
            #{name}
