.row
  .small-12
    %h3.title.margin-top-30
      Extra
.row.padding-h-30.padding-top-30
  .small-12.columns.padding-left-40.padding-right-40
    .row.font-medium
      %ul
        %li.font-medium
          %i.fa.fa-heartbeat.margin-right-10.grey-5
          Running, Swimming, Fitness
        %li.font-medium
          %i.fa.fa-heart.margin-right-10.grey-5
          Traveling
        %li.font-medium
          %i.fa.fa-heart.margin-right-10.grey-5
          Movies, Series
        %li.font-medium
          %i.fa.fa-heart.margin-right-10.grey-5
          Digital Art, Photography
        %li.font-medium
          %i.fa.fa-thumbs-up.margin-right-10.grey-5
          Food, Beer
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          Machine Learning: The Art and Science of Algorithms that Make Sense of Data
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          Essential Algorithms: A Practical Approach to Computer Algorithms
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          Design Patterns: Elements of Reusable Object-Oriented
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          MongoDB Applied Design Patterns
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          Go Programming Blueprints
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          Building Microservices
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          Seven Databases in Seven Weeks: A Guide to Modern Databases and the NoSQL Movement
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          Lean Startup
        %li.font-medium
          %i.fa.fa-book.margin-right-10.grey-5
          The Art of War