-# Il fait [#{I18n.t("hello")}]
#cv-content.padding-h-40.padding-top-40{style: "padding-bottom:90px"}
  %div.large-8.small-12.columns
    %h1.georgia.margin-top-0
      %div{style: 'letter-spacing:0.3rem'} CLOVIS KYNDT
      %div.font-large.grey-8{style: 'letter-spacing:0.6rem'} SOFTWARE ENGINEER
  %div.large-4.small-12.columns
    %div#social.margin-top-30.margin-right-10.margin-bottom-30
      %a.social.googleplus{href: 'https://plus.google.com/u/0/+ClovisKyndt/posts', target: '_blank'}
        %i.fa.fa-google-plus.fa-lg
      %a.social.linkedin{href: 'https://www.linkedin.com/profile/view?id=328739321', target: '_blank'}
        %i.fa.fa-linkedin.fa-lg
      %a.social.github{href: 'https://github.com/Manawasp', target: '_blank'}
        %i.fa.fa-github-alt.fa-lg
%div.padding-h-40
  %hr{style: 'margin-top:40px'}
  -# %i.fa.fa-envelope
  -# %a{href: 'mailto:clovis.kyndt@gmail.com', target: '_blank'} clovis.kyndt@gmail.com
  -# %a.fright.button.tiny.margin-right-5{href: 'public/files/ClovisKyndt-CV-EN.pdf', target: '_blank'}
    -# %i.fa.fa-download.fa-lg 
    -# Download as .pdf
