.row
  .small-12
    %h3.title.margin-top-30
      Computer Knowledges
.row.padding-h-30.padding-top-30
  .medium-4.columns
    %ul
      %li.title Languages
      %li C/C++
      %li Go
      %li Ruby / Python
      %li Shell script
      %li C#
  .medium-4.columns
    %ul
      %li.title Web Development
      %li PHP - codeIgniter
      %li HTML, CSS, JavaScript
      %li Pre-pocessing (HAML/SASS/CoffeScript)
  .medium-4.columns
    %ul
      %li.title Database
      %li MySQL
      %li PostgreSQL
      %li MongoDB
.row.padding-h-30.padding-top-30
  .medium-4.columns
    %ul
      %li.title Operating Systems
      %li Unix/Linux
      %li Windows
  .medium-4.columns
    %ul
      %li.title Tools
      %li Git / Subversion
      %li Heroku
      %li VS2013 / ViM / SublimeText
  .medium-4.columns
    %ul
      %li.title Other
      %li Dedicated server
      %li Design pattern
      %li Algorithm
