.small-12
  %h3
    .space
      = I18n.t(:titleLanguages)
.padding-h-30.padding-top-30
  .small-12.columns.padding-left-20.padding-right-20
    .languages.margin-bottom-20
      - I18n.t(:languages).each do |lang|
        .small-12.medium-4.columns.margin-bottom-20
          %h4=lang[:lang]
          %h6
            #{lang[:level]}
            %br
            #{lang[:comment]}
