.row
  .small-12
    %h3
      = I18n.t(:titleLanguages)
.row.padding-h-30.padding-top-30
  .small-12.columns.padding-left-40.padding-right-40
    .languages.margin-bottom-20
      - I18n.t(:languages).each do |lang|
        .small-12.medium-4.columns.margin-bottom-20
          %h4=lang[:lang]
          %h6
            #{lang[:level]}
            %br
            #{lang[:comment]}