.row.padding-h-30.padding-top-5.padding-bottom-20
  .small-12.large-8.columns.padding-left-40.padding-right-40.text-justify
    %p I'm a French software engineer. I love technology, mathematics.
    %p
      When I was 15 old I started to learn programming, but It was in my first year of undergratuate school I really began to start programming and increase my knowledges with C, C++.
      %br 
      I spend a lot of time to improve myself with side project, read some blogs, website, books. I like "swimming" in the complexity and challenge. Currently I work on microservice concept and high scalability.
    %p
      I lived 6 months in Edinburgh to increase my English and I studied 1 year in China. I like traveling I would like to travel in South Corea and in Japan.
      %br
      I have some interest for the digital art and photography.
