.row.padding-h-30.padding-top-5.padding-bottom-20{style: 'max-width:825px'}
  .small-12.columns.padding-left-40.padding-right-40.text-justify
    %p{style: 'font-size:1.2rem'}=I18n.t('presentation.quick')
    %p=I18n.t('presentation.computer')
    %p=I18n.t('presentation.interest')