.small-12.margin-top-10
  %h3.title.margin-top-30
    .space
      = I18n.t(:titleProjects)
- I18n.t(:projects).each do |project|
  .project.margin-top-30.margin-left-50
    %h4=project[:title]
    %h6=project[:subtitle]
    %div.margin-top-20
      %p=project[:describe]
    %div.margin-top-20
      - project[:tags].each do |tag|
        %span.label.label-primary=tag
