.row
  .small-12
    %h3.title.margin-top-30
      Work Experience
.row.padding-h-30.padding-top-30
  .small-12.columns.padding-left-40.padding-right-40
    .experience
      %h4
        Backend developer ruby on rails -
        %span.company Libertrip
      %h6 Internship avril 2014 - aout 2015 a Euratechnologie, Lille, France
      %div.margin-top-20
        "Libertrip is the easiest way to plan your next dream vacation. Build your itinerary, and Share with friends."
        %br
        Tasks: Create an interface between Hotels Managers and Libertrip.
      %div.margin-top-20
        %span.label.label-primary Ruby on Rails
        %span.label.label-primary Backbone
        %span.label.label-primary AngularJS
        %span.label.label-primary PostgreSQL
        %span.label.label-primary MongoDB
.row.padding-h-30.padding-top-30
  .small-12.columns.padding-left-40.padding-right-40
    .experience
      %h4
        Developeur Web -
        %span.company Freelance
      %h6 juillet 2012 – decembre 2012 a Edinburgh, Scotland, United Kingdom
      %div.margin-top-20
        "Libertrip is the easiest way to plan your next dream vacation. Build your itinerary, and Share with friends."
        %br
        Tasks: Create an interface between Hotels Managers and Libertrip.
      %div.margin-top-20
        %span.label.label-primary CodeIgniter
        %span.label.label-primary JQuery
        %span.label.label-primary MySQL
        %span.label.label-primary HTML/CSS
-# .row
-#   .col-lg-2
-#     %h4
-#       %b Freelance
-#       %br
-#       %i{style: 'font-size:12px'} 2012
-#       %br
-#       %i{style: 'font-size:12px'}Edinburgh, Scotland, United Kingdom
-#   .col-lg-10{style: 'padding-top:11px'}
-#     Web development
-#     %div{style: 'margin-top:5px;'}
-#       %span.label.label-primary CodeIgniter
-#       %span.label.label-primary JQuery
-#       %span.label.label-primary MySQL
-# .row
-#   .col-lg-2
-#     %h4
-#       %b Kitchen Porter
-#       %br
-#       %i{style: 'font-size:12px'} 2012
-#       %br
-#       %i{style: 'font-size:12px'}Edimburgh, Scotland, United Kingdom
-#   .col-lg-10{style: 'padding-top:11px'}
-#     I lived in Edinburgh for 5 months in order to improve my english.
-#     %br
-#     I worked as a kitchen porter in  a restaurant throughout august.
-#     %br
-#     %span.label.label-primary English